@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}
/* top nav style start  */
.top-nav{
    background-color: #020369;
}
.top-nav .link-dark{
    color: white !important;
}
/* top nav style end  */
/* sector style start  */
.sector {
    text-align: center;
    padding: 70px;
}

.spector-card,
.spector-card img {
    border-radius: 30px;
}

.sector h5 {
    color: #1752ac;
    font-size: 16.3px;
}

.sector h4 {
    margin-top: 20px;
    color: #020369;
}

.sector h2 {
    color: #020369;
    font-size: 46.3px;
    font-weight: 600;
}

.spector-card {
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spector-card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.spector-card img:hover {
    transform: scale(1.05);
}

/* sector style end  */
/* manpower style start  */
.man-power {
    padding: 80px;
}

.man-power h2 {
    font-size: 24.8px;
    color: #020369;
    font-weight: 600;
}

.man-power h3 {
    font-size: 22.8px;
    color: #1752ac;
}

.submit-btn {
    background-color: #f7951e;
    border-color: #f7951e;
    float: inline-end;
    padding: 15px 25px 15px 25px;
}

.man-power p {
    text-align: justify;
}

/* manpower style end  */
/* agency style start  */
.agency {
    padding: 80px;
}

.agency h3 {
    font-size: 16.2px;
    color: #1752ac;
}

.agency h2 {
    font-size: 29.7px;
    color: #020369;
    font-weight: 600;
}

.agency-row {
    display: flex;
    align-items: center;
}

.learn-btn {
    background-color: #f7951e;
    border-color: #f7951e;
    padding: 15px 25px 15px 25px;
}

.agency-img-con {
    position: relative;
}

.arrow-icon {
    width: 13%;
    margin-left: 10px;
}

.year-box {
    background: linear-gradient(to bottom, #000000, #0b389d);
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.year-box h2 {
    color: white;
    font-size: 70.2px;
    font-weight: 600;
}

.year-box h3 {
    color: white;
    font-size: 18.8px;
}

.line {
    background-color: white;
    width: 40%;
    height: 2px;
}

.agency-ftr-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-div {
    display: flex;
    align-items: center;
}

.phn-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.call-text p {
    margin: 0px;
}

.call-text h5 {
    color: #020369;
    font-size: 14.6px;
    font-weight: 700;
}

.agency p {
    text-align: justify;
}

/* agency style end  */
/* offer style start  */
.offer {
    padding: 80px;
    text-align: center;
}

.offer h3 {
    font-size: 16.3px;
    color: #1752ac;
}

.offer h2 {
    font-size: 20.3px;
    color: #020369;
    font-weight: 600;
}

.skill-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skill-box {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
}

.skill-box span {
    color: #020369;
    font-weight: 600;
}

/* offer style end  */
/* find manpower style start  */
.find-con {
    background-color: #4778d6;
    color: white;
    padding: 35px;
}

.reuire-btn {
    border: 1px solid white;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 20.3px;
    position: relative;
}

.reuire-btn:hover {
    background-color: white;
    color: #0b389d;
}

.find-con h2 {
    font-size: 33.3px;
}

.require-icon {
    width: 23px;
    margin-left: 10px;
}

.require-icon2 {
    width: 23px;
    position: relative;
    right: 14px;
}

/* find manpower style end  */
/* testimonial style start  */
.testimonials {
    padding: 80px;
}

.test-con1 h3 {
    color: #1752ac;
    font-size: 13.9px;
}

.test-con1 h2 {
    color: #020369;
    font-size: 24.4px;
    font-weight: 600;
}

.test-con2 h3 {
    color: #1752ac;
    font-size: 17.8px;
}

.test-con2 h2 {
    color: #020369;
    font-size: 51.9px;
    font-weight: 600;
}

.process {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.test-text h6 {
    color: #020369;
    font-weight: 600;
}

.test-text p {
    margin: 0px;
    width: 300px;
}

.circle {
    background-color: #f7951e;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    position: relative;
    margin-right: 20px;
}

.circle h4,
.circle h5 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 100%;
    color: white;
    font-weight: 600;
}

.circle h4 {
    top: 25%;
}

.circle h5 {
    top: 60%;
}
.member-card {
    border: 1px solid black;
    padding: 20px;
}
.profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.profile img {
    width: 20% !important;
    margin-right: 10px;
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 3px;

}
.star-img{
    width: 10% !important;
}
.review-btn{
    background-color: #f7951e;
    border-color: #f7951e;
    text-align: center;
    padding: 15px 25px 15px 25px;
    font-size: 19.3px;
}
/* testimonial style end  */
/* client style start  */
.client{
    padding: 80px;
}
.client-con h3{
    font-size: 16.3px;
    color: #1752ac;
}
.client-con h2{
    font-size: 47.5px;
    color: #020369;
    font-weight: 800;
}
.client-con p{
    font-size: 14.9px;
}
/* client style end  */
/* insight style start  */
.insights{
    padding: 80px;
}
.insight-box{
    margin-top: 70px;
}
.insight-con h3{
    font-size: 19px;
    color: #1752ac;
}
.insight-con h2{
    font-size: 47.2px;
    color: #020369;
    font-weight: 800;
}
.insight-card{
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px;
}
.insight-card img{
    border-radius: 20px;
}
.insight-card h3{
    font-size: 19px;
    color: #1752ac;
    margin-top: 20px;
}
/* insight style end  */
/* footer style start  */
.news-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.global-footer {
    background-image: linear-gradient(to left, #002780, #001544);
    color: white;
    padding: 30px;
}

.global-footer h3 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ft-logo {
    width: 100%;
    margin-bottom: 30px;
}

/* footer style end  */